ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
}

ion-modal {
  --height: 85%;
}


ion-list {
  padding: 0.2em;
  background-color: rgb(24, 123, 216);
  ion-list-header {
    color: white;
  }
  ion-item-sliding {
    width: 100%;

    ion-item {
      display: flex;
      --inner-padding-end: 0px;
      --padding-start: 0;
      width: 100%;

      ion-label {
        padding-right: 5px;
        max-width: 100%;
        width: max-content;
        p,
        ion-text {
          display: inline-block;
          padding-left: 3px;
          width: 100%;
        }
      }

      ion-label:nth-child(3) {
        max-width: 15%;
        width: min-content;
        display: inline-flex;
        justify-content: center;
      }

      div {
        height: 100%;
        width: 1em;
        justify-self: right;
      }
    }
  }
}

.active {
  background-color: #28bb50;
}

.inactive {
  background-color: #ad000d;
}

.active-text {
  color: #28bb50;
  font-size: 0.85em;
  font-weight: bold;
  width: 100%;
}

.inactive-text {
  color: #ad000d;
  font-size: 0.85em;
  font-weight: bold;
  text-wrap: nowrap;
  width: 100%;
}


